<ion-content padding class="login-page">
    <ion-row class="login-form">
      <ion-col>

        <ion-col class="logo">
          <img src="assets/img/Logo Connecta_Azul_to_Pink.svg" alt="">
        </ion-col>
        <ion-list>

          <ion-item>
            <ion-label>
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="username" placeholder="Usuário" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="password" placeholder="Senha" type="password"></ion-input>
          </ion-item>

        </ion-list>

        <button ion-button full round (click)="login()"  class="login-button"><i class="fa fa-sign-in" aria-hidden="true"></i>Conectar</button>

        <ion-col class="social-icons">
          <button ion-button icon-only>
            <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          </button>

          <button ion-button icon-only>
            <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>
          </button>

          <button ion-button icon-only>
            <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
          </button>
      </ion-col>

      </ion-col>
    </ion-row>
  </ion-content>
