<ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>PAGAR.ME</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card><ion-card>
  <ion-item>
    <img src="assets/icon/company.svg" item-left>
    <h2>SEU KINKAS LTDA</h2>
    <p>Av. Paulista, 12000 08320-432</p>
  </ion-item>
</ion-card>
