perfil {
  ion-content {
    background: white !important;
    img {
      height: 150px !important;
      width: 150px !important;
      margin: auto !important;
    }

    h3 {
      text-align: center !important;
    }
    label {
      color: #838383;
    }
  }
}
